body{
    background-color: #EEEEEE;
    /* padding: 40PX 100px 0 100px; */
    margin: 0 0 0 50px;
}


header{
 
    margin: 0;
   padding: 40px 6% 0 6%;
}


h1{
font-family: 'Helvetica Neue', Arial, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 120px;
letter-spacing: 0.05em;
color: #2E2E2E;

padding: 0 0 40px 0;
margin: 0;

}

h2{
font-family: Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
font-size: large;

padding-top: 0px;
margin: 0;


}

h3{
    /* TITLE_LARGE */

    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    /* or 105% */
}

h4{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
/* identical to box height, or 100% */

letter-spacing: 0.15em;
}

h5{
/* TITLE_SMALL */

font-family: 'Helvetica Neue', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 24px;
/* or 109% */
color: #000000;
}

p{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

}

.sidebar{
    width: 50px;
    height: 100%;
    position: fixed;
    background-color: #2E2E2E;
    z-index: 1;
    left: 0;
    right: 0;
    padding:20px 0 0 24px ;
}

#triangle{
    height: 30px;
    width: auto;

}

.catagories{
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    
}



.featured{
    /* position: ; */
    background-color:  rgba(46, 46, 46, 1);
    margin-bottom: 60px;
    display: flex;
    height: 600px;
}

.featured-text{
    color: #ffffff;
    /* background-color: red; */
    margin: 10px 3% 10px 3%;
    width: auto;
    height: auto;
}


/* featured text header */
#featured{
    text-transform: uppercase;   
}

.tags{
    display: flex;
    gap: 10px;
    padding: auto 0 0 0;
    margin: 0;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: red;
    align-items: flex-end;

}







.load{
    color: #ffffff;
    background-color: #2E2E2E;
    padding: 8px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 120px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #2E2E2E;
    color: #EEEEEE;
    text-transform: uppercase;
    padding: 20px 6% 100px 6%;

}

.row-1{
    display: flex;
    gap: 40px; 
    justify-content: center;  
    margin: 40px;
}

.three-wide{
   background-color: #ffffff;
   max-width: 450px; 
   max-height: 650px;
   margin: 0; 
   padding: 20px; 



}


img{
    max-width: 100%;
    width: 1000px;
    height: auto;
}






